<div class="page-header">
    <div class="page-header-image" style="background-image:url(assets/img/login-2.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="info info-horizontal">
                        <!-- <div class="icon icon-primary">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                        </div> -->
                        <div class="description">
                            <h5 class="info-title">DISFRUTA COMO NUNCA DE LA COMIDA</h5>
                            <p class="description">
                                Reserva una de nuestas experiencias gastronómicas y crea recuerdos que te durarán para siempre!
                            </p>
                        </div>
                    </div>
                    <!-- <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-1_button-pause"></i>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="now-ui-icons users_single-02"></i>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-4 mr-auto">
                    <div style="margin-top:50px;" class="card card-signup">
                        <div class="card-body">
                            <h4 style="color:black;" class="card-title text-center">Regístrate</h4>
                            <div class="social text-center">
                                <!-- <button class="btn btn-icon btn-round btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button class="btn btn-icon btn-round btn-dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </button> -->
                                <button class="btn btn-icon btn-round btn-facebook" (click)="loginFacebook()">
                                    <i class="fa fa-facebook"> </i>
                                </button>
                                <h5 class="card-description"> o con tu correo</h5>
                            </div>
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre y apellido"
                                        formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                    <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    </div> -->
                                </div>

                                <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Correo" (focus)="focus2=true"
                                        formControlName="username" (blur)="focus2=false">
                                </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons text_caps-small"></i></span>
                                    </div>
                                    <input type="text" placeholder="Password" class="form-control" (focus)="focus1=true"
                                        formControlName="password" (blur)="focus1=false">
                                </div>
                                <!-- If you want to add a checkbox to this form, uncomment this code -->
                                <!-- <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox">
                                        <span class="form-check-sign"></span>
                                        I agree to the terms and
                                        <a href="#something">conditions</a>.
                                    </label>
                                </div> -->
                                <div class="form-group card-footer text-center">
                                    <button [disabled]="loading" class="btn btn-primary btn-round btn-lg">Empezar</button>
                                    <!-- <a href="#pablo" class="btn btn-primary btn-round btn-lg">Empezar</a> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            TusChefs
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            Sobre nosotros
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}
            </div>
        </div>
    </footer>
</div>